@font-face {
  font-family: "Haarlem Deco";
  src: url("/haarlem_deco.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/RobotoSlab_wght.ttf") format("truetype");
}


$logo-font: "Haarlem Deco";
$text-font: "Roboto Slab";