.overlapping-insert {
  height: 620px;
  min-width: 980px;
  position: relative;
  background-image: url(/cha_val_stock-min.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $primary;
  
  .content {
    position: absolute;
    width: 490px;
    bottom: 0;
    left: 50%;
  }
  .image {
    height: 620px
  }
}
.alongside-insert {
  min-width: 980px;
  height: 490px;
  position: relative;

  .content, .image {
    position: absolute;
    top: 0%;
    display: inline-block;
    height: 490px;
    width: 490px;
    background-color: rgb(240, 237, 230);
    overflow: hidden;
  }
  .image img {
    width: 150%;
    height: 100%;
  }
  > div:first-child {
    right: 50%;
  }
  > div:last-child {
    left: 50%;
  }
}


.content {
  padding: 50px;
  background-color: white;
  z-index: 40;

  h3 {
    margin: 20px 0;
  }

  p {
    font-size: 1em;
    line-height: 1.6em;
    text-align: center;

    em {
      font-family: $text-font;
      // font-style: italic;
      margin-right: 40px;

      &::before, &::after {
        position: relative;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: .7em;
      }
      &::before {
        top: -10px;
        left: -10px;
        content: "\f10d";
      }
      &::after {
        top: -10px;
        right: -10px;
        content: "\f10e";
      }
    }
  }
}
.image {
  z-index: 10;
}


@media screen and (max-width:979px) {
  .overlapping-insert, .alongside-insert {
    min-width: initial;

    .content {
      width: 80vw;
      left: 10vw !important;
      right: 10vw !important;
    }
  }

  ul {
    width: 100%;
  }
}